.playlistContainer {
    padding: 15px;
}
.videoCard {
    width: 320px;
    height: 340px;
}
.videoThumbnail {
    max-width: 320px;
    max-height: 180px;
}
.avatar {
    max-width: 30px;
    max-height: 30px;
}